<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Add Favourite</th>
        <th scope="col">Company ID</th>
        <th scope="col">Company Name</th>
        <th scope="col">Company Location</th>
        <th scope="col">Company Gst</th>
        <th *ngIf="EditBtn" scope="col" colspan="2">Action</th>

      </tr>
    </thead>
    <tbody *ngFor="let item of companyDetails">
      <tr>
        <td (click)="addfavourite(item)"><i class="bi bi-star text-warning"></i></td>
        <th scope="row">{{item.CompanyId}}</th>
        <td>{{item.CompanyName}}</td>
        <td>{{item.CompanyLocation}}</td>
        <td>{{item.CompanyGst}}</td>
        <td *ngIf="EditBtn" (click)="EditBtnClick(item)"><i class="bi bi-pencil-square" ></i></td>
            <td *ngIf="DeleteBtn" (click)="DeleteBtnClik(item)"><i class="bi bi-trash3-fill text-danger"></i></td>
      </tr>

      <!-- <tr *ngFor="let item of datavalue">
        <td>{{item.name}}</td>
      </tr> -->
    </tbody>
  </table>

  <div *ngIf="EditFormVisible" class="container mt-5" >
    <h1>Edit From</h1>
    <div class="col-md-3">
      <div class="col-mb-3">
        <label for="" class="form-label">ID</label>
        <input type="text" class="form-control" placeholder="Enter name" [(ngModel)]="id">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" placeholder="Enter name" [(ngModel)]="name">
        <label for="" class="form-label">Location</label>
        <input type="text" class="form-control" placeholder="Enter name" [(ngModel)]="location">
        <label for="" class="form-label">gst</label>
        <input type="text" class="form-control" placeholder="Enter name" [(ngModel)]="gst">
        <button class="btn btn-success mt-3" (click)="UpdateUSerDetails()">Update</button>
      </div>
    </div>
  </div>