<table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">User Roll</th>
            <th *ngIf="EditBtn" scope="col" colspan="2">Action</th>

          </tr>
        </thead>
        <tbody *ngFor="let item of EmployeeData">
          <tr>
            <th scope="row">{{item.Userid}}</th>
            <td>{{item.Username}}</td>
            <td>{{item.Userroll}}</td>
            <td *ngIf="EditBtn" (click)="EditBtnClick(item)"><i class="bi bi-pencil-square"></i></td>
            <td *ngIf="DeleteBtn" (click)="DeleteBtnClik(item)"><i class="bi bi-trash3-fill text-danger"></i></td>
          </tr>
        </tbody>
      </table>

<div class="container mt-5" >
  <h1>Edit From</h1>
  <div class="col-md-3">
    <div class="col-mb-3">
      <label for="" class="form-label">ID</label>
      <input type="text" class="form-control" placeholder="Enter name" #id>
      <label for="" class="form-label">Name</label>
      <input type="text" class="form-control" placeholder="Enter name" #name>
      <label for="" class="form-label">Rolll</label>
      <input type="text" class="form-control" placeholder="Enter name" #roll>
      <button class="btn btn-success mt-3" (click)="UpdateUSerDetails()">Update</button>
    </div>
  </div>
</div>