<table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Gst</th>
            <th *ngIf="EditBtn" scope="col" colspan="2">Action</th>

          </tr>
        </thead>
        <tbody *ngFor="let item of EmployeeData">
          <tr>
            <th scope="row">{{item.Userid}}</th>
            <td>{{item.Username}}</td>
            <td>{{item.Userroll}}</td>
            <td *ngIf="EditBtn" (click)="EditBtnClick()"><i class="bi bi-pencil-square"></i></td>
            <td *ngIf="DeleteBtn" (click)="DeleteBtnClik(item)"><i class="bi bi-trash3-fill text-danger"></i></td>
          </tr>
        </tbody>
      </table>