<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashbord">Company Management</a>
    
    <!-- Button to toggle the navigation menu -->
    <button
    data-mdb-collapse-init
    class="navbar-toggler"
    type="button"
    data-mdb-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
    <i class="fas fa-bars"></i>
  </button>
  
  <!-- Navigation links -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active text-success" style="font-weight: 600;" aria-current="page" routerLink="employee" [queryParams]="{userroll:roll}">Employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-success" style="font-weight: 600;" routerLink="compnay" [queryParams]="{userroll:roll}">Company</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-success" style="font-weight: 600;" routerLink="branch" [queryParams]="{userroll:roll}">Branch</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-danger" style="font-weight: 600;" routerLink="branch" (click)="logout()">Log-Out</a>
      </li>
    </ul>
  </div>
  
  <!-- Right side username -->
  <div class="ml-auto">
    <span class="navbar-text" style="font-weight: 700;">
      <i class="fas fa-user">Hello,</i>{{username}}</span>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>